.loading__overlay {
    background: #232323af;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 9999;
    transition: ease 0.6s;
}

.lds-facebook {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%s);
    width: 120px;
    height: 120px;
}
.lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #fff;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
}
@keyframes lds-facebook {
    0% {
        top: 8px;
        height: 64px;
    }
    50%,
    100% {
        top: 24px;
        height: 32px;
    }
}

/* .loading__overlay {
    width: 100vw;
    height: 100vh;
    background: #3e3e3eaf;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 9999;
    transition: ease 0.6s;
}

.loading__spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%s);
    width: 90px;
    height: 90px;
    border: 10px solid #f3f3f3;
    border-top: 10px solid #383636;
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
}

.loader__hide {
    opacity: 1;
    animation: hideloader 1.5s forwards;
}

.loader__show {
    display: block;
    opacity: 0;
    animation: showloader 1s forwards;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes hideloader {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes showloader {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
} */
